# python cache
__pycache__/

# build files
dist/

# chat history
chat_history.txt
.history

# editor config files
pyrightconfig.json
.zed/
.vscode/

# autoenv files
.autoenv
.autoleave

# old reference code
old_react/