[tool.poetry]
name = "archytas"
version = "1.3.10"
description = "A library for pairing LLM agents with tools so they perform open ended tasks"
authors = ["David Andrew Samson <david.andrew.engineer@gmail.com>", "Matthew Printz <matt@jataware.com>"]
readme = "README.md"
license = "GPL-3.0-or-later"

[project.urls]
"Homepage" = "https://github.com/jataware/archytas"
"Bug Tracker" = "https://github.com/jataware/archytas/issues"

[tool.poetry.scripts]
chat-repl = "archytas.repl:start_repl"

[tool.poetry.dependencies]
python = "^3.10"
openai = "^1.30"
rich = "^13.3.4"
docstring-parser = "^0.15"
pytz = "^2023.3"
toml = "^0.10.2"
frozendict = "^2.3.8"
pydantic = ">=1.9.0" #TODO: not sure what minimum pydantic version to put
langchain = "^0.3"
langchain-core = "^0.3"
langchain-community = "^0.3"
langchain-openai = "*"
langchain-anthropic = "^0.3"
langchain-groq = "^0.2"
anthropic = "^0.40"
langchain-ollama = "0.2"
langchain-google-genai = "^2.0"

[tool.poetry.group.dev.dependencies]
easyrepl = "^0.1.2"
pytest = "^8.3.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
