[tool.poetry]
name = "archytas"
version = "1.1.4"
description = "A library for pairing LLM agents with tools so they perform open ended tasks"
authors = ["David Andrew Samson <david.andrew.engineer@gmail.com>", "Matthew Printz <matt@jataware.com>"]
readme = "README.md"
license = "GPL-3.0-or-later"

[project.urls]
"Homepage" = "https://github.com/jataware/archytas"
"Bug Tracker" = "https://github.com/jataware/archytas/issues"

[tool.poetry.scripts]
chat-repl = "archytas.repl:start_repl"

[tool.poetry.dependencies]
python = "^3.10"
openai = "^1.3.9"
tenacity = "^8.2.2"
rich = "^13.3.4"
docstring-parser = "^0.15"
pytz = "^2023.3"
toml = "^0.10.2"
frozendict = "^2.3.8"

[tool.poetry.group.dev.dependencies]
easyrepl = "^0.1.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
